html, body
	background #F2EFE1
	border 0
	font-family Arial, Helvetica, Sans-Serif
	font-size 14px
	margin 0
	max-width 100%
	padding 0

#top, #bottom, #left, #right
	background #FFFFFF
	position fixed

#left, #right
	top 0
	bottom 0
	width 30px

#left
	left 0

#right
	right 0

#top, #bottom
	left 0
	right 0
	height 30px

#top
	top 0

#bottom{
	bottom: 0;
}

@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	#top, #bottom, #left, #right { display: none; }
}

.clearfix
	clear both
	display block
	height 0
	width 0

#container
	overflow hidden
	max-width 820px

#gallery
	width 100%

ul#portfolio
	list-style none
	overflow hidden
	max-width 720

	li
		float left
		margin 20px

	a
		display block
		width 200px
		height 150px
		-webkit-transition all 2s ease
		opacity 0.7
		-webkit-filter grayscale(1)

	a:hover
		filter none
		opacity 1.0
		-webkit-filter grayscale(0)